html,
body {
  height: 100%;
}
/* 考虑性能问题,可以直接用基础班的base.css设置 m0+p0 */
body,
div,
span,
p,
a,
input,
img,
ul,
li,
strong,
em,
del,
ins,
i,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
